div img {
  margin-top: 20px;
  height: 50px;
  width: 75px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
button {
  all: unset;
  padding: 6px 16px;
  background:red;
  height: 32px;
  color: white;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.hero p {
  font-weight: 600;
  color: grey;
  max-width: 400px;
}

.hero-btn {
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 24px;
}
.secondary-btn {
  background: transparent;
  color: gray;
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}

.hero-image img {
  object-fit: cover;
  height: 600px;
  width: 600px;
}

h1{
  height: 180px;
  padding: 10px;
}

#amu{
  height: 50px;
  width: 50px;
}
#flpu{
  height: 45px;
  width: 50px;
}

#menuu{
  text-decoration: none;
  color: black;
  cursor: move;
}

#aboutt{
  text-decoration: none;
  color: black;
  cursor: move;
}

#botn{
  text-decoration: none;
  color: antiquewhite;
}

#contactt{
  text-decoration: none;
  color: black;
  cursor: move;
}

#locationn{
  text-decoration: none;
  color: black;
  cursor: move;
}